@{
    ViewData["Title"] = "TimKiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right">

    <h1>Công ty cổ phần Sách và Thiết bị trường học  TP. Hồ Chí Minh </h1>
    <div >
        <p>
            Địa chỉ: 223 Nguyễn Tri Phương, Phường 9, Quận 5, Thành phố Hồ Chí Minh 
        </p>
        <p>
            Điện thoại: 028 6666 6666
        </p>
    </div>
    <div class="cleaner_with_height">&nbsp;</div>

    <a asp-controller="Home"><img src="~/images/templatemo_ads.jpg" alt="css template ad" /></a>

</div> <!-- end of content right -->
