
@{
    ViewData["Title"] = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .picture
    {
        width:30%;
        
    }

    .fl
    {
        float:left;
        
    }

</style>

<div id="templatemo_content_right">

    <h1>Ăn ít để khỏe<span>(by Yoshinori Nagumo)</span></h1>
    <div>
        <div>
            <img class="picture fl" src="~/images/image_241454.jpg" />
            <div class="fl">
                <h2>Read the lessons - Watch the videos - Do the exercises</h2>
                <p>
                    Số trang: 200
                </p>
                <p>
                NXB: Kim Đồng
                </p>
            </div>
        </div>
        <p class="fl">
            Sách Ăn ít Để Khỏe được cho là đưa ra những quan điểm thách thức những kiến thức thông thường vẽ sức khỏe mà chúng ta vẫn hầng tin tưởng. Thông qua phương pháp ăn mỗi ngày một bữa - một phương pháp tự nhiên nhẩm bảo vệ sức khỏe, bạn sẽ có được một làn da đẹp cũng như diện mạo trẻ trung tươi mái, những biểu hiện của một sức khỏe nội tại dõi dào và tràn đây năng
            lượng. Sách göm 5 chương với nội dung như sau: Chương 1: Vi sao không ăn lại tốt cho sức khỏe? Chương 2: Chúng ta đều có thể thực hiện phương pháp "Mỗi ngày một bữa" Chương 3: Cơ thể được cải thiện không ngờ nhờ phương pháp mỗi ngày một bữa Chương 4: Cùng biến phương pháp ăn "Mỗi ngày một bữa" thành thói quen Chương 5: Sống theo
            -tiếng gọi con tim*
        </p>
   </div>
    <div class="cleaner_with_height">&nbsp;</div>

    <a asp-controller="Home"><img src="~/images/templatemo_ads.jpg" alt="css template ad" /></a>

</div> <!-- end of content right -->

