<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store Template, Free CSS Template, CSS Website Layout</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="~/css/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--  Free CSS Templates from www.templatemo.com -->
<div id="templatemo_container">
	<div id="templatemo_menu">
    	<ul>
            <li><a asp-controller="Home" asp-action="Index" data-action="Index">Trang Chủ</a></li>
            <li><a asp-controller="Home" asp-action="Timkiem">Tìm Kiếm</a></li>
            <li><a  asp-controller="Home" asp-action="Lienhe" >Liên Hệ</a></li>
            <li style="float:right;"><a asp-controller="Account" asp-action="Login">Đăng nhập</a></li>
            <li style="float:right;"><a asp-controller="Account" asp-action="Register">Đăng ký</a></li>
           
    	</ul>
        
    </div> <!-- end of menu -->
    
    <div id="templatemo_header">
    	<div id="templatemo_special_offers">
        	<p>
                <span>25%</span> discounts for
        purchase over $80
        	</p>
			<a href="subpage.html" style="margin-left: 50px;">Read more...</a>
        </div>
        
        
        <div id="templatemo_new_books">
        	<ul>
                <li>Suspen disse</li>
                <li>Maece nas metus</li>
                <li>In sed risus ac feli</li>
            </ul>
            <a href="subpage.html" style="margin-left: 50px;">Read more...</a>
        </div>
    </div> <!-- end of header -->
    <div id="templatemo_content">

    <div id="templatemo_content_left">
        <div class="templatemo_content_left_section">
            <h1>Chủ Đề</h1>
            <ul>
                <li><a href="">Lập Trình</a></li>
                <li><a href="">Cuộc Sống</a></li>
                <li><a href="#">Sức Khỏe</a></li>
            </ul>
        </div>
        <div class="templatemo_content_left_section">
            <h1>Bán Chạy</h1>
            <ul>
                <li><a asp-controller="Books" asp-action="Book1">Ăn ít để khỏe</a></li>
                <li><a href="#">Tôi tài giỏi bạn cũng thế</a></li>
                
            </ul>
        </div>

        <div class="templatemo_content_left_section">
            <a href="http://validator.w3.org/check?uri=referer"><img style="border:0;width:88px;height:31px" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" width="88" height="31" vspace="8" border="0" /></a>
            <a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/~/images/vcss-blue" alt="Valid CSS!" vspace="8" border="0" /></a>
        </div>
    </div>
        @RenderBody()
    <div id="templatemo_footer">
    
	       <a asp-controller="Home" asp-action="Index">Trang Chủ</a> | <a asp-controller="Home" asp-action="Timkiem">Tìm Kiếm</a> | <a asp-controller="Home" asp-action="Lienhe">Liên hệ</a><br />
        Copyright © 2024 <a href="#"><strong>Your Company Name</strong></a> 
        <!-- Credit: www.templatemo.com -->	</div> 
    <!-- end of footer -->
<!--  Free CSS Template www.templatemo.com -->
</div> <!-- end of container -->
<!-- templatemo 086 book store -->
<!-- 
Book Store Template 
http://www.templatemo.com/preview/templatemo_086_book_store 
-->

<script>
        document.addEventListener("DOMContentLoaded", function () {
            var currentUrl = window.location.href;
            var currentPath = window.location.pathname;

            var links = document.querySelectorAll("#templatemo_menu ul li a");

            links.forEach(function (link) {
                var linkPath = link.getAttribute("href");
                var linkAction = link.getAttribute("data-action"); // Lấy action của liên kết

                if (link.href === currentUrl || linkPath === currentPath || (currentPath === "/Home" && linkAction === "Index")) {
                    link.classList.add("current");
                }
            });
        });


</script>

</body>
</html>